/*popup*/

@media (max-width: 640px) {
  .popup {
    min-width: 330px;
    height: 100vh;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-items: center;
    position: fixed;
    height: 600px;	
    background: #fff; 
    z-index: 99999;
    opacity: 1;
    top: 55px;
    left: 15px;
  }
  
  .popup-fade:before {
    content: '';
    background: #000;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
  }

  .popup__close {
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
    cursor: pointer; 
    width: 30px; 
    height: 30px;
  }
  
  .popup__close:before, .popup__close:after {
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .popup__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .popup__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .popup_container {
    padding: 30px 25px;
  }
  
  .form-hint {
    padding-bottom: 10px;
  }
  
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url(../svg/select-arrows-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    fill:#b59f5b;
  }
  
  select {
    width: 100%;
    height: 50px;
    padding: 15px;
  }
  
  select:focus {
    border: solid #e9e5d4 1px;
  }
  
  select:focus-visible {
    outline: none;
  }

  svg {
    fill: #b59f5b;
  }
  
  .form-row {
  margin-bottom: 30px;
  }
  
  .feedback_input {
    margin-top: 10px;
    background-color: #f4f7f6;
    border: none;
  }
    
  
  .radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  
  .form_second {
    display: block;
    margin-top: 10px;
  }
  
  .radio_text::before {
   content: "";
   width: 20px;
   height: 20px;
   background-color: white;
   border: 1px solid #b59f5b;
   border-radius: 50%;
   padding: 2px;
  }
  
  .radio:checked~.radio_text::before {
    background-color: #b59f5b; 
  }
  
  .radio_text {
    margin-right: 30px;
  }
  
  .sidebar-header {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .textarea {
   height: 130px;
   width: 100%;
  }
  
  .textarea:focus {
    border: solid #e9e5d4 1px;
  }
  
  .textarea:focus-visible {
    outline: none;
  }

  textarea::placeholder {
    padding: 20px;
  }
  
  .popup_text {
    color: #000000;
    font-size: 13px;
    font-family: regular;
  }
  
  .subscribe-button {
    margin-top: 30px;
  }
  
  .subscribe-button {
    background-color: #b59f5b;
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    border: none;
    box-sizing: border-box;
  
    color: #ffffff;
    font-size: 14px;
    font-family: bold;
    text-transform: uppercase;
  }
  
  .sidebar-header {
  
    color: 0f0d0e;
    font-family: bold;
    text-transform: uppercase;
    text-align: center;
  
    margin-bottom: 23px;
  }
  
  .sidebar-header::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 10px auto 0 auto;
  }
  }